@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
/*! base css start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*! base css end */
/*! header start */
.header-top {
  background: #f0f0e9;
}
.header-top ul li {
  display: inline-block;
}
.header-top ul li a i {
  border: 0;
  border-radius: 0;
  color: #696763;
  padding: 0;
}
.header-top ul li a i {
  padding: 11px 15px;
}
.header-top ul li a .bi-facebook:hover {
  background: #0083c9;
  color: #fff;
}
.header-top ul li a .bi-twitter:hover {
  background: #5bbcec;
  color: #fff;
}
.header-top ul li a .bi-linkedin:hover {
  background-color: #ff4518;
  color: #fff;
}
.header-top ul li a .bi-dribbble:hover {
  background: #90c9dc;
  color: #fff;
}
.header-top ul li a .bi-google:hover {
  background: #ce3c2d;
  color: #fff;
}

/*! responsive start */
@media (max-width: 767px) {
  .header-top .row {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .header-top .row .col-sm-8 {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  .header-top .col-sm-8 ul {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column !important;
  }
}
/*! responsive end */
.header-top ul {
  margin-bottom: 0 !important;
  height: 50px !important;
  display: flex;
  align-items: center;
}
.header-center .container .row {
  border-bottom: 1px solid #f5f5f5;
  padding: 0 3% !important;
}

.header-center ul li .nav-link {
  font-size: 12px !important;
}
.header-center ul li a:hover {
  color: #fe980f;
}
.header-bottom form input:focus {
  border-color: #f0f0e9;
}
.header-bottom form input {
  background-color: #f0f0e9 !important;
}
.header-bottom .active {
  color: #fe980f !important;
}

.header-bottom form .bi-search {
  font-size: 17px;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 21%;
}

/*! header end *{
/*! slider start */
.slider .carousel-item .img {
  display: block !important;
  height: auto !important;
  max-width: 100% !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem !important;
  height: 3rem !important;
  opacity: 0.4;
}
.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.colors {
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  margin: 1px !important;
  cursor: pointer !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fe980f !important;
}
.carousel-control-next i:hover {
  color: #fe980f !important;
}

/*!responsive  start*/
@media (min-width: 576px) {
  .row {
    width: 100% !important;
  }
}

/*!responsive  end*/
/*! slider end */
/*! brands features start */
.sidebar-border {
  border: 1px solid #f7f7f0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}
.sidebar-border .accordion-header .accordion-button {
  background-color: #ffffff;
  border: 0 none;
  color: #696763;
  padding: 5px 20px;
  font-weight: bold;
}
.sidebar-border .category li a {
  color: #696763;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar-left h2,
.recommended h2,
.brands h2 {
  color: #fe980f;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  position: relative;
}
.sidebar-left h2::before,
.brands h2::before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 130px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -65px;
}
.sidebar-left h2::after,
.brands h2::after {
  content: " ";
  position: absolute;
  border: 1px solid #f5f5f5;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
.brands .brands-name {
  border: 1px solid #f7f7f0;
  padding-bottom: 20px;
  padding-top: 15px;
}
.brands .brands-name a {
  background-color: #ffffff;
  color: #696763;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.features h2,
.price-range h2 {
  color: #fe980f;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.features h2::before,
.price-range h2::before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110px;
}
.features h2::after,
.price-range h2::after {
  content: " ";
  position: absolute;
  border: 1px solid #f5f5f5;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
.product-img-wrapper {
  border: 1px solid #f7f7f5;
  overflow: hidden;
  margin-bottom: 30px;
}
.product-single span {
  color: #fe980f;
  font-size: 24px;
  font-weight: 700;
}
.product-single p {
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}
.add-to-cart {
  background: #f5f5ed;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}
.product-single a:hover,
.product-choose a:hover {
  background: none;
  color: #fe980f;
}
.product-choose {
  border-top: 1px solid #f7f7f0;
  margin: 20px 0;
}
.product-choose ul {
  height: 30px !important;
}
.product-img-wrapper ul li a {
  color: #b3afa8;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}
/*! price start */
.price-range {
  margin-top: 30px;
}

.price-range h2::after {
  content: " ";
  position: absolute;
  border: 1px solid #f5f5f5;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
.price-range h2::before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 130px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -65px;
}
/*! price end */
/*! shipping start */
.shipping {
  background-color: #f2f2f2;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}
/*! shipping end */
/*! category start */

.categories {
  overflow: hidden;
}

.categories ul {
  background: #40403e;
  border-bottom: 1px solid #fe980f;
  padding: 0;
  width: 100%;
}

.categories ul li a {
  color: #b3afa8;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px;
}

.categories ul li a:hover {
  background: #fe980f;
  color: #fff;
}

.categories li.active a {
  background-color: #fe980f;
  color: #ffffff;
}

/*! category end */
/*! glide arrows start */
.recommended {
  overflow: hidden;
}
.recommended h2:after,
h2:after {
  content: " ";
  position: absolute;
  border: 1px solid #f5f5f5;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
.recommended h2::before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110px;
}
.recommended .arrows {
  position: absolute !important;
  top: 50%;
  width: 100%;
  display: block;
}
.arrows .glide__arrows {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.arrows .glide__arrows i {
  background: #fe980f;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 10px;
}
.arrows .glide__arrows i:hover {
  background-color: #ccc;
}
/*! glide arrows end */

/*! footer start */
/*! footer top start */
footer {
  background: #f0f0e9;
}
footer .border {
  border-bottom: 1px solid #fff !important;
  padding-bottom: 20px !important;
}
.col-sm-2 .info {
  margin-top: 57px;
}
.info h2 {
  color: #b4b1ab;
  font-size: 27px;
  text-transform: uppercase;
}
.info h2 span {
  color: #fe980f;
}
.info p {
  color: #b3b3ad;
  font-size: 12px;
  font-weight: 300;
}
.gallery {
  margin-top: 57px;
  position: relative;
}
.gallery .img-gallery {
  position: relative;
  display: block;
  height: 61px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
.icon-gallery {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 61px;
  background: #fe980f;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  line-height: 0;
  display: block;
  opacity: 0;
  transition: 300ms;
}
.gallery a:hover .icon-gallery {
  opacity: 1;
}
.icon-gallery i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
  margin-top: -20px;
}
.gallery p {
  color: #8c8c88;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
}
.gallery h2 {
  color: #8c8c88;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}
.img-adress {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.img-adress p {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 25px;
  top: 50px;
}
/*! footer top end */
/*! footer center start */
.footer-center {
  margin-bottom: 68px;
}
.center h2 {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.center ul li a {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}
.center ul li a:hover {
  background: none;
  color: #fe980f;
}

.search input {
  border: 1px solid #ddd;
  color: #ccc;
  font-size: 14px;
  margin-top: 0;
  padding: 8px;
  width: 212px;
}
.search a {
  background: #fe980f;
  border: none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 10px;
}
.search button i {
  color: #fff;
  font-size: 20px;
}
.single-center p {
  color: #8c8c88;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}
.single-center h2 {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.footer-center .col-sm-3 {
  margin-left: 8.3333333%;
}
@media (max-width: 767px) {
  .footer-top h2,
  p {
    text-align: center;
  }
  .footer-top .col-sm-7 .col-sm-3 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .searchform input {
    width: 160px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-center .col-sm-2 {
    width: 33%;
    display: inline-block;
    margin-bottom: 50px;
  }
}
@media (min-width: 400px) and (max-width: 991px) {
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center h2 {
    text-align: center;
    margin-top: 10%;
  }
  .single-center h2 {
    text-align: center;
    margin-top: 10%;
    margin-left: -18%;
  }
  .center .nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
}

/*! footer center end */
/*! footer bottom start */
.footer-bottom {
  background: #d6d6d0;
  padding-top: 10px;
}
.footer-bottom p {
  color: #363432;
  font-weight: 300;
  margin-left: 15px;
  font-size: 14px !important;
}
.footer-bottom p span a {
  color: #fe980f;
  font-style: italic;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .footer-bottom .row .responsive {
    display: flex;
    flex-direction: column;
    gap: 20%;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.scrollUp {
  bottom: 0;
  right: 10px;
  padding: 5px 10px;
  background: #fe980f;
  animation: bounce 2s ease infinite;
}
.scrollUp i {
  font-size: 25px;
  color: #fff;
}
/*! footer bottom start */

/*! footer end */

/*! signup form start*/
.form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form h2,
.signup-form h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.login-form input,
.signup-form form input {
  background: #f0f0e9;
  border: none;
  color: #696763;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}
.login-form form span {
  line-height: 25px;
}
.login-form form span input {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.login-form form button,
.signup-form form button {
  background: #fe980f;
  border: none;
  border-radius: 0;
  color: #fff;
  display: block;
  padding: 6px 25px;
}
.login-form form button:hover,
.signup-form form button:hover {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.login-form form button {
  margin-top: 23px;
}
.or {
  background: #fe980f;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .form .row .col-sm-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .or {
    margin: 20px;
  }
}
/*! signup form end*/
/*! cart start */

.breadcrumbs .breadcrumb {
  background: transparent;
  margin-bottom: 75px;
  padding-left: 0;
}

.breadcrumb > li {
  display: inline-block;
}
.breadcrumbs .breadcrumb li a {
  background: #fe980f;
  color: #fff;
  padding: 3px 7px !important;
}
.breadcrumb > .active {
  color: #999;
}
.cart .cart-info {
  border: 1px solid #e6e4df;
  margin-bottom: 50px;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.cart .cart-info .table thead tr {
  height: 51px;
}
.cart .cart-info tr .image,
.desc,
.price,
.quantity,
.total,
.orange {
  background: #fe980f !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: normal;
}

.cart .cart-info .image {
  padding-left: 30px;
}
.cart-info .cart-desc h4 a {
  color: #363432;
  font-size: 20px;
  font-weight: normal;
}
.cart-info .cart-desc p {
  color: #696763;
}
.cart-info .cart-price p {
  color: #696763;
  font-size: 18px;
}
.cart-quantity-btn a {
  background: #f0f0e9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}
.cart-quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
}
.cart_total_price {
  color: #fe980f;
  font-size: 24px;
}
.cart-delete a {
  background: #f0f0e9;
  color: #fff;
  padding: 5px 7px;
  font-size: 16px;
}
.cart-info tr {
  border-bottom: 1px solid #f7f7f0;
}
.cart-info table tr td {
  border-top: 0 none !important;
  vertical-align: baseline;
}
.cart-product {
  display: block;
  margin: 15px -70px 10px 25px;
}

.cart-seller {
  margin-bottom: 50px;
}
.heading h3 {
  color: #363432;
  font-size: 20px;
}
.heading p {
  color: #434343;
  font-size: 16px;
  font-weight: 300;
}
.chose {
  border: 1px solid #e6e4df;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}
.option label {
  color: #696763;
  font-weight: normal;
  margin-left: 10px;
}
.user-info {
  display: block;
  margin-bottom: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
.user-info .single-field {
  width: 31%;
}
.user-info input,
select,
textarea {
  background: #f0f0e9;
  border: 0;
  color: #696763;
  padding: 5px;
  width: 100%;
  border-radius: 0;
}
.user-info > li {
  float: left;
  margin-right: 10px;
}
.user-info .single-field input {
  background: transparent;
  border: 1px solid #f0f0e9;
}
.update {
  margin-left: 40px;
}
.update,
.check-out {
  background-color: #fe980f;
  border-radius: 0;
  color: #fff;
  margin-top: 18px;
  border: none;
  padding: 5px 15px;
}
.update:hover,
.check-out:hover {
  background-color: #ebebeb;
  color: #333;
  border-color: #adadad;
}
.total-area {
  border: 1px solid #e6e4df;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}
.total-area ul li {
  background: #e6e4df;
  color: #696763;
  margin-top: 10px;
  padding: 7px 20px;
}
.total-area span {
  float: right;
}
/*! responsive */
@media (max-width: 767px) {
  .responsive-1 {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
  }
}

/*! cart end */

/*! checkout start */
.checkout .heading {
  background-color: #f0f0e9;
  color: #363432;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 10px 25px;
}
.checkout-options {
  padding-left: 20px;
}
.checkout-options h3 {
  color: #363432;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
}
.checkout-options p {
  color: #434343;
  font-weight: 300;
  margin-bottom: 25px;
}
.checkout-options .nav li {
  float: left;
  margin-right: 45px;
  color: #696763;
  font-size: 18px;
  font-weight: normal;
}
.checkout-options .nav label {
  font-weight: normal;
}
.checkout-options .nav li a {
  color: #fe980f;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}
.checkout-options .nav i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: #fe980f;
  color: #fff;
  font-size: 14px;
  padding: 2px 3px;
}
.register {
  background-color: #f0f0e9;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  margin-top: 35px;
}
.register p {
  margin: 10px;
}
.info-shopper p,
.bill-to p,
.order-message p {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
}
.form-two select {
  background: #f0f0e9 !important;
}
.info-shopper > form > input,
.form-two > form > select,
.form-two > form > input,
.form-one > form > input {
  background: #f0f0e9;
  border: 0 none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  font-weight: 300;
}
.form-two,
.form-one {
  float: left;
  width: 47%;
}
.form-two {
  margin-left: 5%;
}
.order-message textarea {
  font-size: 12px;
  height: 335px;
  margin-bottom: 20px;
  padding: 15px 20px;
}
.order-message label {
  font-weight: 300;
  color: #696763;
  margin-left: 10px;
  font-size: 14px;
}
.review-payment h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px;
}
.payment-options {
  margin-bottom: 125px;
  margin-top: -25px;
}
.payment-options span label {
  color: #696763;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}
/*! checkout end */
/*! contact start */
h2.title {
  color: #fe980f;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
h2.title:before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110px;
}
.left-sidebar h2:after,
h2.title:after {
  content: " ";
  position: absolute;
  border: 1px solid #f5f5f5;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
.contact-form .form-group {
  margin-bottom: 20px;
}
.form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
}
#message {
  height: 160px !important;
}
.contact-form .btn {
  margin-bottom: 15px;
  margin-top: 20px;
}
.btn.btn-primary {
  background: #fe980f;
  border: 0;
  border-radius: 0;
  margin-top: 16px;
  float: right !important;
}
.contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}
.contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}
.social-networks {
  overflow: hidden;
  text-align: center;
}
.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}
.social-networks ul li {
  float: left;
  margin-right: 20px;
}
.social-networks ul li a {
  color: #999;
  font-size: 25px;
}
.social-networks ul li a:hover {
  color: #fe980f;
}
/*! contact end */
/*! glide js start */
.arrows-1 {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}
.arrows-1 .glide__arrows {
  bottom: 100% !important;
}
/*! glide js end */
/*! view product start */
.view-product img {
  border: 1px solid #f7f7f0;
  height: 380px;
  width: 100%;
}
#product_carousel {
  margin-top: 40px;
}
.product-information {
  border: 1px solid #f7f7f0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  position: relative;
}
.product-information .new {
  position: absolute;
  top: 0;
  left: 0;
}
.product-information h2 {
  color: #363432;
  font-size: 20px;
  margin-top: 50px !important;
}
.product-information p {
  color: #696763;
  margin-bottom: 5px;
}
.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}
.product-information span span {
  color: #fe980f;
  float: left;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0;
  width: 100%;
}
.product-information span label {
  color: #696763;
  font-weight: 700;
  margin-right: 5px;
}
.product-information span input {
  border: 1px solid #dededc;
  color: #696763;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  text-align: center;
  width: 50px;
}
.cart-1 {
  background: #fe980f;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*! view product end */
